/* Định dạng tiêu đề của section */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.section-header h2 {
    margin: 0;
}

section.py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Tăng kích thước tiêu đề */
h2.display-5 {
    font-size: 2.5rem;
    line-height: 1.4;
    font-weight: bold;
}

/* Cải thiện độ sáng của văn bản */
p.lead {
    font-size: 1.1rem;
    color: #333;
}

/* Đảm bảo hình ảnh luôn phù hợp với cột */
img.img-fluid {
    object-fit: cover;
    width: 100%;
    height: 500px;
}


/* THÂN TRANG */

.banner {
    background-color: #feca7a;
}

/* KHÓA HỌC */
.courses{
    transition: all 0.3s ease;
}

.courses:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.courses:hover i {
    transition: all 0.3s ease;
    color: #feca7a;
}
/* END KHÓA HỌC */

.features {
    background-color: #FFF9EC;
    margin-top: 200px;
    margin-bottom: 200px;
}
.achievements {
    background-color: #feca7a;
}

/* VỀ CHÚNG TÔI */
/* START */
.about_us {
    background-color: #feca73;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

/* END THÂN TRANG */