/* HEADER */
/* ẢNH USER */
.user-pic {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.sub-menu-wrap {
  display: none;
  /* Ẩn menu mặc định */
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 10;
  width: 200px;
}

.sub-menu-wrap.show {
  display: block;
  /* Hiển thị menu khi có lớp 'show' */
}

.sub-menu {
  padding: 10px;
}

.sub-menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
}

.sub-menu a:hover {
  background-color: #f0f0f0;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}


.custom-dropdown a .arrow {
  display: inline-block;
  position: relative;
  transition: .3s transform ease;
}

.custom-dropdown.show a {
  color: #000;
}

.custom-dropdown.show a .arrow {
  transform: rotate(180deg);
}

.custom-dropdown .btn:active,
.custom-dropdown .btn:focus {
  box-shadow: none !important;
  outline: none;
}

.custom-dropdown .btn.btn-custom {
  border: 1px solid #efefef;
}

.custom-dropdown .title-wrap {
  padding: 10px 0;
}

.custom-dropdown .title {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.custom-dropdown .dropdown-link {
  color: #888;
  position: relative;
}

.wrap-icon {
  font-size: 30px;
}

.custom-dropdown .dropdown-link .number {
  width: 24px;
  height: 24px;
  line-height: 20px;
  border-radius: 50%;
  background: #007bff;
  position: absolute;
  font-size: 13px;
  top: -10px;
  right: -10px;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}

.custom-dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  border: 1px solid transparent;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  padding: 10px;
  opacity: 0;
  transform: translate(0, 0);
  transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
  min-width: 1100px;
}

.custom-dropdown .dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  margin-top: 10px;
}

.custom-dropdown .dropdown-menu .mega-menu {
  padding: 20px;
}

.custom-dropdown .dropdown-menu .mega-menu h3 {
  font-size: 14px;
  text-transform: uppercase;
}

.custom-dropdown .dropdown-menu .mega-menu .border-primary {
  border-left: 2px solid #007bff;
  padding-left: 20px;
}

.custom-dropdown .dropdown-menu .mega-menu .border-warning {
  border-left: 2px solid #ffc107;
  padding-left: 20px;
}

.custom-dropdown .dropdown-menu .mega-menu .border-danger {
  border-left: 2px solid #dc3545;
  padding-left: 20px;
}

.custom-dropdown .dropdown-menu .mega-menu a {
  display: block;
  padding: 5px 0;
  font-size: 14px;
  text-decoration: none;
  color: gray;
  font-weight: 400;
}

.custom-dropdown .dropdown-menu .mega-menu>div {
  width: 70%;
  padding-left: 10px;
  padding-right: 10px;
}

.custom-dropdown .dropdown-menu .mega-menu>div ul {
  margin: 0;
  padding: 0;
}

/* THÂN TRANG*/



/* FOOTER */
#footer {
  background-color: #25b1e8;
}